# Text editor data
.vscode/

# The dependencies
node_modules/

# Compiled site for testing
build/
public/index.html
public/manifest.json
public/favicon.ico
src/assets/banner.*
src/static/util/docdata.json
src/static/util/README.md
