:root {
  --class-color: #68b5ff;
}

.doclet {
  background: var(--dark);
  margin-top: 1%;
  padding: 1%;
  border-radius: 25px;
}

.doclet.class {
  border: white 1px solid;
}

.constructor {
  font-size: 1.5rem;
}
.constructor .new {
  color: var(--yellow);
  margin-right: .5%;
}
.constructor .name {
  color: var(--info);
}
.constructor .extends {
  margin-left: .5%;
}
.constructor a.extends:hover {
  opacity: .6;
}
.constructor .extends::before {
  content: 'extends';
  margin-right: .4%;
  color: gray;
}

.doclet .desc {
  font-size: 1.3rem;
  font-style: italic;
}

.con-param-container {
  display: inline;
}
.con-param-container::before {
  content: '(';
}
.con-param-container::after {
  content: ')';
}
.con-param-container .param {
  color: var(--green);
}
.con-param-container .comma {
  margin-right: .5%;
}