:root {
  --theme: #662eff;
  --theme-dark: #6600ff;
  --theme-light: #6666ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  transition: .2s;
  color: var(--theme-light);
}

a:hover {
  text-decoration: none;
  color: var(--theme-dark)
}

.head {
  display: block;
}

#app {
  padding: .5% 1.5% 0 1.5%;
}

#navbar {
  transition: .4s;
  position: absolute;
  width: 1vw;
  height: 100vh;
  background: black;
  opacity: .2;
  overflow: hidden;
  font-size: 2rem;
  border-radius: 0 500px 500px 0;
}
#navbar:hover {
  width: 15vw;
  background: black;
  opacity: .9;
  border-radius: 0 25px 25px 0;
}

#navbar img {
  transition: .3s;
  width: 15vw;
  margin-top: -2em;
}
#navbar:hover img {
  margin-top: 0em;
}

#navbar .nav-btn-container {
  transition: .2s;
  margin: 8% 0 0 5%;
  transform: translateX(20%);
  max-height: 87vh;
  overflow: hidden;
}
#navbar:hover .nav-btn-container {
  transform: none;
  overflow-y: auto;
}

#navbar .section.info {
  margin: 0 20% 7% 0;
  border-bottom: 1px var(--dark) solid;
}

#navbar .header {
  font-size: 2.5rem;
  margin-right: .5em;
  border-bottom: 1px var(--dark) solid;
}

#navbar .subheader {
  font-size: 1.6rem;
  color: var(--info);
  margin-left: 3%;
}
#navbar .subheader::after {
  content: ':';
}

#navbar .method-container {
  font-size: 1.5rem;
  margin-left: 9%;
  border-left: goldenrod 2px solid;
}

#navbar .method-container .nav-btn {
  color: var(--green);
  margin-left: 4%;
}
#navbar .method-container .nav-btn:hover {
  color: var(--teal);
}

#navbar .nav-btn {
  display: block;
  margin-left: 6%;
}

#navbar .nav-btn[active='true'] {
  color: var(--red);
  transform: translate(-.15vw, -.15vw);
}
#navbar .nav-btn[active='true']:hover {
  color: var(--orange);
}

*::-webkit-scrollbar {
  width: .9rem;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px var(--dark);
  border: solid 5px transparent;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--info);
  border: solid 5px transparent;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px var(--warning);
}

*::-webkit-scrollbar-corner {
  opacity: 0;
}
